.user-dashboard{
    display: flex;
    gap: 24px;
    .row{
        flex-basis: 50%;
        display: flex;
        flex-shrink: 0;
        flex-direction: column;
        gap: 24px;
    }
    .category-list{
        margin-bottom: 0 !important;
    }
    .account-items{

        margin: 0 auto;
    }
}

.category-breadcrumb li{
    float: none;
    margin: 0;
}

.navigation-container{
    display: block;
    
    #navigation-bar{
        margin-right: 0;
    }
}



.select-kit .select-kit-header .selected-name {
    border-bottom: none;
}

.timeline-container .topic-timeline{
    width: 90px;
}


.topic-meta-data .names {
    flex-direction: column;
    align-items: unset;
}

.embedded-posts{
    border: none;
    .topic-avatar{
        padding-left: 0;
    }
}

.workspace-description{
    flex-wrap: nowrap !important;
}
