{{user-info user=item.user}}
{{user-stat value=item.likes_received label="directory.likes_received" icon="far-thumbs-up"}}
{{user-stat value=item.likes_given label="directory.likes_given" icon="far-thumbs-up"}}
{{user-stat value=item.topic_count label="directory.topic_count"}}
{{user-stat value=item.post_count label="directory.post_count"}}
{{user-stat value=item.topics_entered label="directory.topics_entered"}}
{{user-stat value=item.posts_read label="directory.posts_read"}}
{{user-stat value=item.days_visited label="directory.days_visited"}}
{{#if showTimeRead}}
  {{user-stat value=item.time_read label="directory.time_read" type="duration"}}
{{/if}}
