
@import "common/foundation/helpers";
@import "common/foundation/base";
@import "common/foundation/mixins";
@import "common/foundation/variables";

@import "common/base/dashboard";

.category-breadcrumb{

    .dash:first-child{
        margin-left: 0;
    }

    .bread-crumbs + .dash{
        margin-left: 0
    }

    .badge-wrapper{
        font-size: 1em;
        &.bullet{

            .badge-category-bg:first-child{
                border-bottom-left-radius: 2px;
                border-top-left-radius: 2px;
            }

            .badge-category-parent-bg{
                width:0.5em;
                height: 1em;
                border-bottom-left-radius: 2px;
                border-top-left-radius: 2px;
            }

            .badge-category-bg {
                width:1em;
                height: 1em;
                border-bottom-right-radius: 2px;
                border-top-right-radius: 2px;
            }
            .badge-category-parent-bg+.badge-category-bg{
                width:0.5em
            }

            .category-name{
                color: var(--primary);
                font-size: 1em;
            }

        }
    }
}
.category-logo{
    .aspect-image{
        max-width: 100%;
    }
}
.list-controls{
    .btn{
        float: none;
        margin: 0;
        font-style: 1em;
    }
}
.category-list .topics{
    display: none;
}
.category-list tbody .category {
    border-left: none;
    display: flex;
    flex-direction: column;
    .category-list-container{
        display: flex;
        flex-direction: row;
        
        .category-logo{
            display: flex;
            max-height: 100%;
            height: auto;
            margin: auto 16px auto 0;
            img{
                height: 64px;
                width: 64px;
            }
        }
        .category-description{
            color: var(--primary);
            h2{
                a{
                    color: var(--primary);
                }
                margin: 0 0 8px 0 !important; 
            }
        }
    }
}

.badge-wrapper{
    font-size: 1em;
    &.bullet{

        .badge-category-bg:first-child{
            border-bottom-left-radius: 2px;
            border-top-left-radius: 2px;
        }

        .badge-category-parent-bg{
            width: calc(12 /  (2 * 15 ) * 1em);
            height: calc(12 / 15 * 1em);
            border-bottom-left-radius: 2px;
            border-top-left-radius: 2px;
        }

        .badge-category-bg {
            width:calc(12 / 15 * 1em);
            height: calc(12 / 15 * 1em);
            border-bottom-right-radius: 2px;
            border-top-right-radius: 2px;
        }
        .badge-category-parent-bg+.badge-category-bg{
            width:calc(12 /( 2 * 15 ) * 1em);
        }

        .category-name{
            color: var(--primary);
            font-size: calc(12 / 15 * 1em);
        }

    }
}

.topic-body.about{
    .cooked{
        padding-top: 0;
    }
}