
  <a href = "/" class= "bread-crumbs btn btn-flat btn-text">{{i18n "breadcrumbs.dashboard"}} </a>

  {{#each categoryBreadcrumbs as |breadcrumb|}}
    {{#if breadcrumb.hasOptions}}
    <span class= "dash">/</span>
      {{category-drop
        category=breadcrumb.category
        categories=breadcrumb.options
        options=(hash
          parentCategory=breadcrumb.parentCategory
          subCategory=breadcrumb.isSubcategory
          noSubcategories=breadcrumb.noSubcategories
          autoFilterable=true
        )
      }}
    {{/if}}
  {{/each}}
{{!-- {{{#if siteSettings.tagging_enabled}}
  {{tag-drop firstCategory=category tagId=tagId}}
{{/if}}  --}}
 {{showCategoryEdit}}       
{{#if showCategoryEdit}}
    {{d-button
      class="btn-flat edit-category"
      action=editCategory
      icon="wrench"}}
{{else}}
  can you se this
  
{{/if}} 
{{plugin-outlet name="bread-crumbs-right" connectorTagName="li" tagName=""}}
