<a class="category-title-link" href={{category.url}}>
  <div class="category-text-title">
    {{category-title-before category=category}}
    {{#if category.read_restricted}}
      {{d-icon lockIcon}}
    {{/if}}
    <span class="category-name">{{dir-span category.name}}</span>
  </div>

</a>
