
<div class ="row">
  <div class="workspaces">
    {{dashboard-workspace-list categories=subCategories class="latest-topic-list"}}
  </div>
  <div class="categories">
    {{parent-categories-only categories=parentCategories}}
  </div>
</div>

<div class = "row">
  <div class=" Account">
    {{dashboard-account categories=categories}}
  </div>
  
  <div class="topics">
    {{categories-topic-list topics=topics filter="latest" class="latest-topic-list"}}
  </div>
</div>