
<div class="list-controls">
    <div class="container d-flex">

{{#if showCategoryAdmin}}
  {{categories-admin-dropdown

    onChange=(action "selectCategoryAdminDropdownAction")
    options=(hash
      triggerOnChangeOnTab=false
    )
  }}
{{/if}}
{{#unless isCategory}}
  {{navigation-bar navItems=navItems filterMode=filterMode category=category}}
{{/unless}}

{{#if isCategory}}
  {{create-topic-button
    canCreateTopic=canCreateTopic
    action=(action "clickCreateTopicButton")
    disabled=createTopicButtonDisabled
    label=createTopicLabel
    btnClass=createTopicClass
  }}
{{/if}}

{{#if showCategoryNotifications}}
  {{category-notifications-button
    value=category.notification_level
    category=category
    onChange=(action "changeCategoryNotificationLevel")
  }}
{{/if}}
 {{!-- {{#if showCategoryEdit}}
            {{d-button
                class="btn-flat edit-category"
                action=editCategory
                icon="wrench"
                label="category.edit"}}
            {{/if}}  --}}
    </div>
</div>