<div class="card dashboard-card">
  <div class="card-header">
    <h4 class ="bold header">{{i18n (concat "category.dashboard." name)}}</h4>
  </div>
  <div class="card-body">
    {{yield}}
  </div>
</div>