{{#unless isHidden}}
  {{plugin-outlet name="category-list-above-each-category" connectorTagName="" tagName="" args=(hash category=category)}}
  <tr data-category-id={{category.id}} data-notification-level={{category.notificationLevelString}} class="{{if category.description_excerpt "has-description" "no-description"}} {{if category.uploaded_logo.url "has-logo" "no-logo"}}">
    <td class="category {{if isMuted "muted"}} {{if noCategoryStyle "no-category-style"}}" style={{unless noCategoryStyle (border-color category.color)}}>
    {{!-- <td class="category {{if isMuted "muted"}} {{if noCategoryStyle "no-category-style"}}"> --}}
      <div class = "category-list-container">
        {{#if category.uploaded_logo.url}}
        {{cdn-img
          src=category.uploaded_logo.url
          class="category-logo"
          width=category.uploaded_logo.width
          height=category.uploaded_logo.height}}
        {{/if}}
        
        
        <div class="category-description">
          {{category-title-link category=category}}
          {{#if category.description_excerpt}}
            {{dir-span category.description_excerpt}}
          {{/if}}
        </div>
      </div>
      {{#if category.isGrandParent}}
        <table class="category-list subcategories-with-subcategories">
          <tbody>
            {{#each category.subcategories as |subcategory|}}
              {{sub-category-row category=subcategory listType=listType}}
            {{/each}}
          </tbody>
        </table>
      {{else if category.subcategories}}
        <div class="subcategories">
          {{#each category.subcategories as |subcategory|}}
            {{sub-category-item category=subcategory hideUnread="false" listType=listType}}
          {{/each}}
        </div>
      {{/if}}
      
    </td>
    <td class="topics">
      <div title={{category.statTitle}}>{{html-safe category.stat}}</div>
      {{category-unread category=category tagName="div" class="unread-new"}}
    </td>
    {{#unless isMuted}}
      {{#if showTopics}}
        <td class="latest">
          {{#each category.featuredTopics as |t|}}
            {{featured-topic topic=t latestTopicOnly=latestTopicOnly}}
          {{/each}}
        </td>
      {{/if}}
    {{/unless}}
  </tr>
{{/unless}}
