<div class="list-controls">
    <div class="container">
        {{bread-crumbs showCategoryEdit=showCategoryEdit editCategory=(route-action "editCategory" category) categories=categories category=category noSubcategories=noSubcategories}}
 
    </div>
</div>
{{#if isCategory}}  
    <div class="list-controls ">
        <div class="container workspace-description d-flex">
            <div class ="d-flex my-atuo">
            {{#if category.uploaded_logo.url}}
            {{cdn-img
                src=category.uploaded_logo.url
                class="category-logo my-auto mx-0"
                width=category.uploaded_logo.width
                height=category.uploaded_logo.height}}
            {{/if}}
            </div>
            <div class = "my-auto">
            <h2 class ="bold mb-0">{{category.name}}</h2> 
            {{#if category.description}}
                <h4>{{dir-span category.description}}</h4>
            {{/if}}
            </div>
        </div>
    </div>
    {{#unless isParent}}
        <div class = "tabs-container">
            <ul class="nav nav-tabs scroll mb-4">
                {{discovery-tab panels=panels selectedTab=selectedTab tab="about" slug=category.slug type=topic.archetype}}
                {{discovery-tab panels=panels selectedTab=selectedTab tab="discussion" slug=category.slug category=category type=topic.archetype count=category.topic_count}}
                {{discovery-tab panels=panels selectedTab=selectedTab tab="events" slug=category.slug type=topic.archetype}}
                {{discovery-tab panels=panels selectedTab=selectedTab tab="files" slug=category.slug type=topic.archetype}}
                {{discovery-tab panels=panels selectedTab=selectedTab tab="members" slug=category.slug type=topic.archetype}}
            </ul> 
        </div>
    {{/unless}}
{{/if}}
